 {% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href ="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{%static 'main.css'%}">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Hola</h1>
        <form action="{% url 'update_tasks'%}" method="POST">
            {%csrf_token%}
        <input type="text" name="name" placeholder="escribir un titulo">
           <textarea name="description"  rows="3" placeholder="escribir la descripcion"></textarea>
           <button>save</button>
        </form>
        {% for task in tasks %}
        <div>
            <h4> {{task.name}}</h4>
           <p>{{task.description}}<p>
            {% comment %} <button>Delete</button> {% endcomment %}
            <form action="{%url 'delete_task' task.id%}" method="DELETE">
                {%csrf_token%}
                <button>Delete</button>
            </form>
            <form action="{%url 'update_task' task.id%}" method="PUT">
                {%csrf_token%}
                <button>update</button>
            </form>
        </div>
        {%empty%}
        <h1>No hay tareas</h1>
        {% endfor %}



 

        <script src="" async defer></script>
    </body>
</html>





